// @use './media';
$size1: 3rem;
$black: rgb(39, 39, 39);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:400;
  }
  h1 { font-size: 3rem}
  h2 { font-size: 2rem}
  h3 { font-size: 1.33rem}

  a:hover {
    background-color: lightskyblue;
}
// body {
//     transform: scale(0.9);
//     transform-origin: 0 1;
//     // add prefixed versions too.
//  }
body {
    background: rgb(255, 255, 253);
}

.grid1 {
    display: grid;
    grid-template-columns: 5fr 1fr ;
    grid-template-rows: 0.05fr 1fr;
    height: 100vh;
    grid-template-areas:
        " topBar topBar"
        " headerContent navBar"
}
.topBar {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    font-size: 12px;
    align-items: center;
    grid-area: topBar;
    flex-direction: row-reverse;
    img {
        height: 2rem;
        margin-right: 0.5rem;

    }
}
.navbarWrapper {
    border: 1px dotted $black;
    margin-right: 3rem;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    grid-area: navBar;

 
    li {
        list-style: none;
        padding: 1.3rem;
        font-size: 1.3rem;
        &:hover {
            background-color: lightskyblue;
        }
        
       
    }
    a {
        text-decoration: none;
        color: $black;
        &:visited {
            color: $black;
        }

        }
    
}

.headerPage {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: $black;
    grid-area: headerContent;
} 
.headerContent {
    max-width: 70%;
    margin-top: 8rem;

    h1 {
        margin-top: 0rem;
        font-family: 'Zilla Slab Highlight';
    }
    h2 {
        margin-top:4rem;
        line-height: 40px;
        span {
            font-weight:700;
            img {
                height: 2rem;
                width: 2rem;
                animation: bigbooty 0.5s ease-in infinite ;
                &:hover {
                    transform: scale(2);
                }
            }
        }
        
        
        
    }
    h3 {
        margin-top: 4rem;
        a:visited {
            color: $black;
        }
        a:hover {
            background-color: lightskyblue;
            
        }
        
    }
    .wheel {
        padding: 2rem;
        width: 10rem;
        height: 10rem;
    }
}
@media screen and (max-width: 1040px) {

    .grid1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 1fr;
        grid-template-areas:
        "topBar"
        "navBar"
        " headerContent"
    }  

    .topBar {
        margin: auto;
    }
    .navbarWrapper{
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1px;
    }
}

@media screen and (max-width: 500px) {

    .headerContent {
        max-width: 100%;
        margin-top: 3rem;
        h3 {
            text-align: center;
        }
    }
    .navbar {
        background:lightskyblue;
    }
    .navbarWrapper {
        margin-right: 0rem;
    }
    .navbar li {
        font-size: 1rem;    
    }
}

// @keyframes bigbooty {
//     from {transform: scale(1);}
//     to {transform: scale(1.3);}
// }

.fiveheads {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: blue;
    img{
    height: 2rem;
    width: 2rem;
    }
}
.head1 {
    position: absolute;
    bottom: 4rem;
    left: 6rem;
}