$size1: 3rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:400;
  }
  h1 { font-size: 3rem}
  h2 { font-size: 2rem}
  h3 { font-size: 1.33rem}

body {
    background: rgb(255, 255, 253);
}
.grid1 {
    display: grid;
    height: 100vh;
}
.navbar {
    border: solid grey;
}

header {
    max-width: 80%;
    margin: auto;
    height: 100vh;
    color: rgb(39, 39, 39);
} 
.headerContent {
    max-width: 50%;
    
    h1 {
        margin-top: 10rem;
    }
    h2 {
        margin-top:3rem;
        line-height: 40px;
        span {
            font-weight:700;
        }
    }
    h3 {
        margin-top: 4rem;
    }
}
